@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --color-twitter: #1da1f2;
}

@layer utilities {
  .border-dash-b {
    background-image: repeating-linear-gradient(
      to right,
      #334155 0 10px,
      transparent 10px 18px
    );
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 100% 4px;
  }

  .border-dash-t {
    background-image: repeating-linear-gradient(
      to right,
      #334155 0 10px,
      transparent 10px 18px
    );
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100% 4px;
  }
}
